# Bazel
bazel-*
MODULE.bazel.lock
user.bazelrc

_logs

# Ruff
.ruff_cache
target/

rust-project.json

# Python
.venv
__pycache__/
.pytest_cache/
/.coverage
**/*.egg-info/*

# Docs
/_build
/docs/ubproject.toml
/docs/_collections

# Workspace files
/score_*/
/.gita/
/.gita-workspace.csv

# AutoSD
autosd/build/rpms
autosd/build/scripts/automotive-image-builder
autosd/build/*.qcow2